.page {
	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: toRem(30) 0;

		@media (max-width: $mobile) {
			padding: toRem(15) 0;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: toRem(10);
		min-height: 100%;
		padding: toRem(100) 0;
	}
}

.breadcrumbs {
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;

	&__list {
		display: flex;
		align-items: center;
		gap: toRem(10);
	}

	&__item {
		font-size: toRem(18);
	}

	&__link {
		display: inline-flex;
		align-items: center;
		color: $link-color;

		&::after {
			content: '\ea50';
			@extend %ic;
			display: inline-block;
			transform: rotate(90deg);
			font-size: toRem(18);
			color: #aaaaaa;
		}

		@media (any-hover: hover) {
			&:hover span {
				text-decoration: underline;
			}
		}
	}

	&__current {
		color: #aaaaaa;
	}
}

.button {
	padding: toRem(5) toRem(10);
	border-radius: toRem(10);
	background-color: $btn-bg-color;
	color: $btn-color;
	text-align: center;
	cursor: pointer;

	@media (any-hover: hover) {
		transition: all 0.3s ease;

		&:hover {
			background-color: rgba($btn-bg-color, 0.8);
		}
	}

	&--big {
		padding: toRem(10) toRem(20);
		border-radius: toRem(20);
		@include adaptiveValue('font-size', 24, 20);
	}
}

.title {
	color: $title-color;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.2;

	&--h1 {
		@include adaptiveValue('font-size', 48, 32);
	}

	&--h2 {
		@include adaptiveValue('font-size', 36, 24);
	}

	&--h3 {
		@include adaptiveValue('font-size', 30, 18);
	}

	&--h4 {
		@include adaptiveValue('font-size', 24, 16);
	}

	&--h5 {
		@include adaptiveValue('font-size', 20, 14);
	}

	&--h6 {
		@include adaptiveValue('font-size', 16, 12);
	}
}

.action-form {
	max-width: toRem(200);

	&__field {
		display: flex;
		flex-direction: column;
		gap: toRem(5);
		margin-bottom: toRem(5);
	}

	&__label {
		font-weight: 500;
		color: $title-color;
	}

	&__input {
		padding: toRem(5) toRem(8);
		border: 1px solid $border-color;
		border-radius: toRem(8);
	}

	&__btn {
		width: 100%;
	}
}

.other {
	@extend %section-mb;

	&__title {
		margin-bottom: toRem(30);

		@media (max-width: $mobileSmall) {
			margin-bottom: toRem(20);
		}
	}

	&__slider {
		margin: -20px;
		padding: 20px;
	}
}

.slider {
	&__wrapper {
	}

	&__slide {
	}

	&__pagination.swiper-pagination {
		bottom: 8px;
		justify-content: center;

		.swiper-pagination-bullet {
			background-color: rgba(#000, 0.3);
			opacity: 1;
		}

		.swiper-pagination-bullet.swiper-pagination-bullet-active {
			background-color: $link-color;
		}
	}

	&--pb-40 {
		@include adaptiveValue('padding-bottom', 40, 20);
	}
}

.form-error {
	color: #dc3232;
}

.form-sent-message,
.form-error-message {
	margin-top: toRem(10);
	text-align: center;
}

.form-sent-message {
	color: #68cc45;
}

.form-error-message {
	color: #be1c1f;
}
